extends layout

block content
  h1= title
  ul
    li
      a(href="/crawl") Crawl
    li
      a(href="/unnoted") Unnoted
    li
      a(href="/view-articles") View Articles
    li
      a(href="/get-resources") Get Resources
