extends layout

block content
  h1= title
  if lastRunDate
    p="Crawler last ran on "+ lastRunDate.toFormat("d LLLL y T (z)")
  ul
    li
      a(href="/articles/crawl") Crawl Articles
    li
      a(href="/articles/review") Review Articles
    li
      a(href="/articles/view") View Articles
    li
      a(href="/resources/all") Show Resources