body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

th {
  padding-bottom: 8px;
  text-align: left;
}

.line-bottom {
  border-bottom: 1px solid black;
}

td {
  vertical-align: top;
}
